"# Byte-compiled / optimized / DLL files__pycache__/*.py[cod]*$py.class# Distribution / packaging.Pythondevelop-eggs/dist/downloads/eggs/.eggs/lib/lib64/parts/sdist/var/wheels/*.egg-info/.installed.cfg*.egg*.manifest*.spec# Installer logspip-log.txtpip-delete-this-directory.txt# Unit test / coverage reportshtmlcov/.tox/.nox/.coverage.cachenosetests.xmlcoverage.xml*.cover.hypothesis/.pytest_cache/# Jupyter Notebook.ipynb_checkpoints# pyenv.python-version# mypy.mypy_cache/# virtualenv.env/.venv/env/venv/ENV/env.bak/venv.bak/# Spyder project settings.spyderproject.spyderworkspace# VS Code.vscode/# macOS.DS_Store" 
